<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <location path="." inheritInChildApplications="false">
    <system.webServer>
      <handlers>
        <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
      </handlers>
	  <modules runAllManagedModulesForAllRequests="false">
    	<remove name="WebDAVModule" />
  	  </modules>
      <aspNetCore processPath="dotnet" arguments=".\api.sc2-directstrike.dll" stdoutLogEnabled="false" stdoutLogFile=".\logs\stdout" hostingModel="inprocess" />
    </system.webServer>
  </location>
</configuration>
<!--ProjectGuid: 61d21e43-45b9-4544-88f2-e055a1ddb147-->